<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
</head>
<body>
    <h2>How do you approach a new challenge?</h2>
    <form action="C:\Users\saura\OneDrive\Desktop\python\Haki_checker\templates/submit_answer" method="POST">
        <input type="radio" id="optionA" name="answer" value="A">
        <label for="optionA">A) Dive in with courage and determination.</label><br>

        <input type="radio" id="optionB" name="answer" value="B">
        <label for="optionB">B) Analyze the situation thoroughly before acting.</label><br>

        <input type="radio" id="optionC" name="answer" value="C">
        <label for="optionC">C) Seek a balanced and thoughtful approach.</label><br>

        <input type="radio" id="optionD" name="answer" value="D">
        <label for="optionD">D) Use creativity and innovative ideas to solve it.</label><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
